/* Bottom Div */
.Bottom {
    width: 100%;
    height: 85%;
    overflow: hidden;
    /* background-color: black; */
}

/* Hello There! */
.Hello {
    /* color: white; */
    color: #EEDB00;
    font-family: 'Starjedi';
    text-align: center;
    height: 5%;
}