/* Resetting all css styling - necessary for default browser styling */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.App {
  /* text-align: center; */
}

@font-face {
  font-family: 'Starjhol';
  src: url(../src/fonts/Starjhol.ttf) format('truetype');
}

@font-face {
  font-family: 'Starjedi';
  src: url(../src/fonts/Starjedi.ttf) format('truetype');
}

@font-face {
  font-family: 'Starjout';
  src: url(../src/fonts/Starjout.ttf) format('truetype');
}

@font-face {
  font-family: 'Stjedise';
  src: url(../src/fonts/STJEDISE.TTF) format('truetype');
}

@font-face {
  font-family: 'Stjldbl1';
  src: url(../src/fonts/Stjldbl1.ttf) format('truetype');
}

@font-face {
  font-family: 'Stjldbl2';
  src: url(../src/fonts/Stjldbl2.ttf) format('truetype');
}

@font-face {
  font-family: 'Strjmono';
  src: url(../src/fonts/Strjmono.ttf) format('truetype');
}