.GridView {
    /* font-size: 10px; */
    width: 100%;
    height: 100%;
    overflow: auto;
}

.Table {
    width: 100%;
    font-size: 15px;
}

.Seen {
    color: green;
}

.NotSeen {
    color: red;
}